<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>
    <% if current_user %>
    <ul style="list-style-type:none">
      <li>
        logged in as: <%= current_user.email %>
      </li>
      <li>
         <%= button_to "logout", session_url, method: :delete %>
      </li>
      <li>
        <%= link_to "Back to all bands", bands_url %>
      </li>
    </ul>
    <% else %>
    <ul>
      <li>
        currently anonymous, please log in or sign up
      </li>
      <li>
        <%= link_to "login", new_session_url %>
        <%= link_to "sign up", new_user_url %>
      </li>
    </ul>
    <% end %>

  </header>

  <body>
    <%= yield %>
  </body>
</html>
