<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>
    <% if current_user %>
    <ul>
      <li>
        logged in as: <%= current_user.email %>
      </li>
      <li>
        <%= button_to "logout", sesson_url, method: :delete %>
      </li>
    </ul>
    <% else %>
    <ul>
      <li>
        currently anonymous, please log in or sign up
      </li>
      <li>
        <%= button_to "login", sesson_new_url, method: :create %>
        <%= button_to "sign up", user_url, method: :create %>
      </li>
    </ul>
    <% end %>

  </header>

  <body>
    <%= yield %>
  </body>
</html>
