<h1> <%= @cat.name %> </h1>

<table style="width:20%">
  <tr>
    <th>birth day</th>
    <th>color</th>
    <th>sex</th>
    <th>description</th>
  </tr>
  <tr>
    <td><%= @cat.birth_day %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.description %></td>
  </tr>
</table>
<br>
  <%= link_to "All Cats", cats_url %>
<br>
<%= button_to "Edit Cat", edit_cat_url(@cat), method: :get %>
<%= button_to "Remove Cat", cat_url(@cat), method: :delete %>
